<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle</title>
  </head>
  <body>
    <h1>Boggle!</h1>
    <p>
      High Score:
      <b class="high-score"></b>
    </p>

    <section>
      <table class="board">
        <tbody>
          {% for row in board %}
          <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        Current Score:
        <b class="score">0</b>
      </p>

      <p>
        Timer:
        <b class="timer"></b>
        seconds
      </p>

      <form action="" method="post" class="add-word">
        <input type="text" name="word" class="word" autofocus />
        <button>Enter</button>
      </form>

      <p class="msg"></p>

      <ul class="added">
        <b> Added Words:</b>
      </ul>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/boggle.js"></script>
  </body>
</html>
